<html lang="en" ng-app="lyrric">

<div class="container" ng-app="lyrric">
  <h1>Fact or Fiction?</h1>

  <div ng-controller="statementsController">
    <ul ng-repeat="statement in statements">
          <li>{{ statement.title }}</li>
    </ul>
  </div>
</div>
