<% if @statements.any? %>
  <% @statements.each do |statement| %>
    <h2> <%= statement.title %> </h2>
    <h4> <%= statement.all_tags %> </h4>
  <% end %>
<% else %>
  No statements yet
<% end %>


  Verdict:
  <button name="vote" type="submit" value="TRUE">Fact</button>
  <button name="vote" type="submit" value="FALSE">Fiction</button>


100% Fact

100% Fiction


1 vote
